<p id='demo1'>这是一个段落</p>
<button onclick="myFunction()">覆盖页面</button>
<script>
    window.alert('alert');
    document.getElementById('demo1').innerHTML = '段落已修改';    
    document.write(Date());
    function myFunction()
    {
        document.write('整个页面都被我覆盖');
    }
    console.log('这里是调试信息');
</script>